mixin icon(name)
  svg.symbol(class="symbol-" + name.toLowerCase())
    use(xlink:href="#" + name.toLowerCase())

block pageData
  - title = ""
  - description = ""

doctype html
html(lang="en")
  head
    meta(
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    )
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    if title
      title=data.site.name + ' | ' + title
    else
      title=data.site.name
    if description
      meta(
        name="description"
        content=description
      )
    else
      meta(
        name="description"
        content=data.site.description
      )
    mixin favicon(sizes)
      each size in sizes
        link(
          rel="icon"
          href="favicon-" + size + "x" + size + ".png"
          sizes=size + "x" + size
          type="image/png"
        )
    +favicon([16, 32])
    link(
      rel="stylesheet"
      href="css/site.css"
    )
    - includedFonts = "";
    each font, index in data.fonts
      if index > 0
        - includedFonts += "|"
      - includedFonts += font.family + ":"
      - includedFonts += font.weights
    link(
      href="https://fonts.googleapis.com/css?family=" + includedFonts
      rel="stylesheet"
    )
    link(
      href="feed.atom" 
      type="application/atom+xml" 
      rel="alternate" 
      title=data.site.name + " Atom Feed"
    )
    link(
      href="feed.xml" 
      type="application/rss+xml" 
      rel="alternate" 
      title=data.site.name + " RSS Feed"
    )
    link(
      href="feed.json" 
      type="application/json" 
      rel="alternate" 
      title=data.site.name + " JSON Feed"
    )
  body.page
    figure(style="display: none")
      include ../svg/sprite.symbol.svg
    header.page-header
      .row
        .page-header-content
          h1.site-title
            a.site-link(href="./")= data.site.name
          nav.main-nav
            ul.main-nav-list
              each category in categories
                li.main-nav-item
                  a.main-nav-link(href=category.url)= category.name
    main.page-main
      .row
        .page-main-content
          block content
    footer.page-footer
      .row
        .page-footer-content
          nav.social-nav
            ul.social-nav-list
              each link in data.links.social
                li.social-nav-item
                  a.social-nav-link(href=link.url)
                    span.social-nav-icon
                      +icon(link.name)
                    span.social-nav-label= link.name
    if data.analytics.include
      include analytics
